POSTGRES_DB=bakeflow
POSTGRES_USER=bakeflow
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5433
REDIS_PORT=6479
BACKEND_PORT=8090
FRONTEND_PORT=4300
PGADMIN_PORT=5060
PGADMIN_EMAIL=admin@bakeflow.dev
PGADMIN_PASSWORD=change-me
OPEN_FOOD_FACTS_BASE_URL=https://world.openfoodfacts.org
OPEN_FOOD_FACTS_CACHE_TTL=24h
BRASIL_API_BASE_URL=https://brasilapi.com.br
BRASIL_API_CACHE_TTL=12h
EXTERNAL_CACHE_STALE_TTL=7d
EXTERNAL_API_RATE_LIMIT=30
EXTERNAL_API_RATE_WINDOW=1m
