POSTGRES_DB=bakeflow
POSTGRES_USER=bakeflow
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5433
REDIS_PORT=6479
BACKEND_PORT=8090
FRONTEND_PORT=4300
PGADMIN_PORT=5060
PGADMIN_EMAIL=admin@bakeflow.dev
PGADMIN_PASSWORD=change-me
